head {
	
	
	
	
}






img {
	border:2px solid white;
	border-radius: 15px;
}




body {
	font-family:arial;
	
	color:white;
	
	background-image: url('beach-g4b7cf7a19_1920.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	
	

}


